<!doctype html>
<html lang="en" class="minimal-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/public/img/web-icon.png" type="image/png" />
    <!-- Bootstrap CSS -->
    <link href="/public/admin_site/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/admin_site/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="/public/admin_site/css/style.css" rel="stylesheet" />
    <link href="/public/admin_site/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="/public/admin_site/css/pace.min.css" rel="stylesheet" />

    <title>Quên mật khẩu</title>
    <style>
        .warning{
            border: 1px solid red;
        }
    </style>
</head>

<body>

    <!--start wrapper-->
    <div class="wrapper">

        <!--start content-->
        <main class="authentication-content">
            <div class="container-fluid">
                <div class="authentication-card">
                    <div class="card shadow rounded-0 overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
                                <img src="/public/img/fogot_pasword.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body p-4 p-sm-5">
                                    <h5 class="card-title">Quên mật khẩu?</h5>
                                    <p class="card-text mb-5">Nhập email khôi phục của bạn để cài lại mật khẩu</p>
                                    <form class="form-body">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <label for="inputEmailid" class="form-label">Email khôi phục</label>
                                                <input type="email" class="form-control form-control-lg radius-30"
                                                    id="inputEmailid" placeholder="Email">
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid gap-3">
                                                    <p style="color: red;" id="warning_text"></p>
                                                    <button type="submit"
                                                        class="btn btn-lg btn-primary radius-30" id="btnSubmitEmail">Gửi</button>
                                                    <a href="/fermeh/admin/login"
                                                        class="btn btn-lg btn-light radius-30">Quay lại đăng nhập</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--end page main-->

    </div>
    <!--end wrapper-->


    <!--plugins-->
    <script src="/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/jquery/jquery-ui.js"></script>
    <script src="/public/js/admin/fogot_password.js"></script>


</body>

</html>