<%-layout('layout/layout')%>
    <style>
        body {
            background: url('/public/img/New_folder/wave.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .form-contain {
            height: 800px;
            /* background-color: #a29bfe; */
        }

        .form-main {
            padding: 50px 50px;
            background-color: #fff;
            border-radius: 10px;
            min-width: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .form-main input {
            padding: 10px 7px;
        }

        .form-main a:hover {
            text-decoration: underline !important;
        }

        .warning {
            border: 1px solid red;
        }
    </style>
    <div class="container form-contain">
        <div class="container-fluid">
            <form class="form-main" action="" method="post" onsubmit="return validate()">
                <div
                    style="text-align: center;margin-bottom: 15px;border-bottom: 1px solid #a29bfe;padding-bottom:7px;">
                    <label for="" style="font-size: 35px;font-weight: 600;"><%=title%></label>
                </div>
                <div class="mb-3" style="margin-top: 25px;">
                <input type="number" class="form-control" id="OTP" placeholder="Nhập mã OTP"
                        required name="OTP">
                       
                </div>
                <div class="mb-3">
                    <label for="" id="warning" style="color: red;"></label>
                </div>
                <input type="text" name="phoneNumber" id="phoneNumber" value="<%=sdt%>" hidden>
                <button type="submit" class="btn w-100" style="padding: 10px 5px;background-color: #a29bfe;">Xác nhận</button>
                <div style="text-align: right;">
                    <label for="" class="mt-4">Bạn đã có tài khoản? <a href="http://localhost:3000/fermeh/login"
                            style="text-decoration: none;color: #a29bfe;">Đăng nhập</a></label>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/jquery/jquery-3.6.0.min.js"></script>
    <script src="/public/js/OTP.js"></script>