<%-layout('layout/layout')%>
<style>
</style>
<div class="container" style="min-height: 800px;">
    <div class="row mt-5 " style="height: 500px; POSITION: ABSOLUTE;top: 50%;left: 50%;transform: translate(-50%, -50%);">
        <div style="font-size: 200px;color: #2ecc71; text-align: center;">
            <i class="fa-solid fa-circle-check"></i>
            <h6 style="color: #000;font-size: 30px;">Thanh toán thành công!</h6>
            <button class="btn btn-dark" style="position: relative;top: -150px;"><a href="http://localhost:3000/fermeh" style="color: #fff;text-decoration: none;">Quay về trang mua hàng</a></button>
        </div>
    </div>
</div>