<%-layout('layout/layout')%>
    <style>
        body {
            background: url('/public/img/New_folder/wave.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .form-contain {
            height: 800px;
            /* background-color: #a29bfe; */
        }

        .form-main {
            padding: 50px 50px;
            background-color: #fff;
            border-radius: 10px;
            min-width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .form-main input {
            padding: 10px 7px;
        }

        .form-main a:hover {
            text-decoration: underline !important;
        }
    </style>
    <div class="container form-contain">
        <div class="container-fluid">
            <form class="form-main" action="/fermeh/signup" method="post">
                <div
                    style="text-align: center;margin-bottom: 15px;border-bottom: 1px solid #a29bfe;padding-bottom: 7px;">
                    <label for="" style="font-size: 35px;font-weight: 600;">Đăng ký</label>
                </div>
                <div class="mb-3" style="margin-top: 25px;">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Họ và tên" required
                        name="name">
                </div>
                <div class="mb-3" style="margin-top: 25px;">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Số điện thoại" required
                        name="phoneNumber">
                    <label for="" class="form-text" style="color: red;"></label>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu"
                        required name="password">
                        <label for="" class="form-text" style="color: red;"><%=message%></label>
                </div>
                <!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn w-100" style="padding: 10px 5px;background-color: #a29bfe;">Đăng
                    ký</button>
                <div style="text-align: right;">
                    <label for="" class="mt-4">Bạn đã có tài khoản? <a href="http://localhost:3000/fermeh/login"
                            style="text-decoration: none;color: #a29bfe;">Đăng nhập</a></label>
                </div>
            </form>
        </div>
    </div>